<section class="smartphone-andesenv" id="smartphone">
  <div class="container">
    <div class="row sobre">
      <h2>
        APLICATIVOS
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>

    <div class="container col-md-12">
      <div class="row">
        <div class="col-md-6 frame">
          <div class="mobile-frame">
            <img src="https://io13-high-dpi.appspot.com/images/n4_large.png">
            <div class="frame-box">
              <iframe src="https://luanderson.github.io/AnDesenv/" frameborder="0" style="overflow:hidden" width="310"
                height="520"></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 aplicativo">
          <h3 class="name">
            Simple. Secure. <br>
            Reliable messaging.
          </h3>
          <h5 class="descrition">
            With WhatsApp, you'll get fast, simple, secure messaging and calling for free*, available on phones all
            over the world.
          </h5>
          <h6 class="about">* Data charges may apply. Contact your provider for details.</h6>
          <p class="info">
            Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Interessantiss quisso
            pudia ce receita de bolis, mais bolis eu num gostis. Quem num gosta di mim que vai caçá sua turmis! Tá
            deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
          </p>
          <div class="download">
            <ul>
              <li>
                <i class="fab fa-google-play"></i>
                Android
              </li>
              <li>
                <i class="fab fa-apple"></i>
                iOS
              </li>
              <li>
                <i class="fas fa-desktop"></i>
                WEB
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>