<section class="smartphone-andesenv" id="smartphone">
  <div class="container">
    <div class="row sobre">
      <h2>
        APLICATIVOS
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>

    <div class="container col-md-12">
      <div class="row container">
        <div class="col-md-6">
          <div class="mobile-frame">
            <img src="https://io13-high-dpi.appspot.com/images/n4_large.png">
            <div class="frame-box">
              <iframe src="https://luanderson.github.io/AnDesenv/" frameborder="0" style="overflow:hidden" width="310"
                height="520"></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 aplicativo">
          <h3 class="nome">Antigo Site</h3>
          <h5 class="descricao">Descrição do Site</h5>
          <p class="informacao">
            Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Interessantiss quisso
            pudia ce receita de bolis, mais bolis eu num gostis. Quem num gosta di mim que vai caçá sua turmis! Tá
            deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
          </p>
          <p class="informacao">
            Per aumento de cachacis, eu reclamis. Atirei o pau no gatis, per gatis num morreus. Copo furadis é disculpa
            de bebadis, arcu quam euismod magna. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque,
            eget.
          </p>
          <p class="download">
            Download
          </p>
          <div class="icones">
            <i class="fab fa-google-play"></i>
            <i class="fab fa-apple-pay"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>