@import "../../../variables.scss";

.portfolio-andesenv {
    color: $octave-color;
    background: $third-color;
    padding: 100px 0;

    .sobre{
        margin-bottom: 80px;

        h2{
            font: 100 2.5em monospace;
            text-transform: uppercase;
            
            margin: auto;

            .horizontal-line {
                margin-top: 15px;

                div {
                    background: $sixth-color;
                    height: 2px;
                    margin: 0 auto;
                    width: 77px;
                    &.top {
                        margin-bottom: 3px;
                        width: 44px;
                    }
                }
            }
        }
    }

    .group {
        align-items: center;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;

        @media (max-width: 880px) {
            flex-direction: column;
        }

        > .project {
            display: flex;
            flex-direction: column;
            font-family: monospace;
            margin-bottom: 56px;

            @media (min-width: 880px) {
                width: 50%;
            }

            @media (max-width: 880px) {
                align-items: end;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            > img.tumblr { 
                border-radius: 5px;
                height: 252px;
                width: 500px;

                @media (max-width: 880px) {
                    height: 194px;
                    width: 100%;
                }
            }

            > .name {
                color: $sixth-color;
                font-size: 22px;
                font-weight: bold;
                margin: 10px 0 5px;
            }

            > .description {
                font-size: 14px;
                margin-bottom: 0px;
            }

            > .skills {
                margin: 14px 0 0;
                display: inline-flex;
                width: 100%;

                > span {
                    background: $tithe-color;
                    border-radius: 14px;
                    color: $octave-color;
                    font-size: 16px;
                    margin-right: 10px;
                    padding: 5px;
                }
            }
        }
    }

    h6{
        @media (max-width: 880px) {
            display: none;
        }

        @media (min-width: 880px) {
            cursor: no-drop;
            font: 700 1.3em Roboto Slab;
            margin: 7.5% 0 0 0;
            text-align: center;

            &:hover{
                color: $sixth-color;
            }
        }
    }
}

@media (max-width: 880px) {
    .portfolio-andesenv{
        img.mobile{ 
            max-width: 100%;
        }

        h6{
            margin: 10% 0 0 0;
        }   
    }

    .to-top {
        z-index: 2;
        position: fixed;
        right: 30px;
        bottom: 100px;
        margin: 0px;

        a {
            max-width: 54px;
            max-height: 54px;
    
            i {
                font-size: 45px;
            }
        }
    }
}

@media (min-width: 880px) {
    .to-top {
        display: none;
    }
}
