<section class="portfolio-andesenv" id="portfolio">
  <div 
    class="container"
    data-aos="flip-up"
    data-aos-duration="1500"
  >
    <div class="row sobre">
      <h2>
        PORTFÓLIO
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
  </div>

  <div class="container" data-aos="flip-up">
    <section class="group">
      <div class="project" data-aos="zoom-in-down">
        <img src="../../../assets/divide-comigo-1.png" alt="portfolio" class="tumblr">
        <p class="name">Divide Comigo</p>
        <p class="description">Site para inscrições e divulgações de cursos, palestras e workshops</p>
        <div class="skills">
          <span>Axios</span>
          <span>React</span>
          <span>Styled Component</span>
          <span>Hooks</span>
        </div>
      </div>
    </section>

    <h6>Ver Mais Projetos</h6>
  </div>

</section>