<section class="portfolio-andesenv" id="portfolio">
  <div class="container">
    <div class="row sobre">
      <h2>
        PORTFÓLIO
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
  </div>

  <div class="container">
    <swiper [config]="config">
      <div class="big swiper-slide" data-swiper-autoplay="200">
        <div class="swiper-zoom-container">
          <img src="../../../assets/login.png" alt="" srcset="" class="mobile">
        </div>
      </div>
      <div class="big swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/cursos-mobile.png" alt="" srcset="" class="mobile">
        </div>
      </div>
      <div class="big swiper-slide">
        <div class="swiper-zoom-container">
          <img src="../../../assets/criar-curso-mobile.png" alt="" srcset="" class="mobile">
        </div>
      </div>
    </swiper>

    <h6>Ver Mais Projetos</h6>
  </div>

</section>