<section class="portfolio-andesenv" id="portfolio">
  <div 
    class="container"
    data-aos="flip-up"
    data-aos-duration="1500"
  >
    <div class="row sobre">
      <h2>
        {{ content.title }}
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
  </div>

  <div class="container" data-aos="flip-up">
    <section class="group" *ngFor="let item of content.projects">
      <div class="project" data-aos="zoom-in-down">
        <img src="{{ item.image.path }}" alt="{{ item.image.alt }}" class="tumblr">
        <p class="name">{{ item.title }}</p>
        <p class="description">{{ item.description }}</p>
        <div class="skills">
          <span *ngFor="let item of item.skills ">{{ item }}</span>
        </div>
      </div>
    </section>

    <h6>{{ content.button }}</h6>
  </div>

  <div class="to-top" data-aos="zoom-in-down">
    <a href="#intro">
      <i class="fas fa-arrow-circle-up"></i>
    </a>
  </div>
</section>
