<div class="intro-andesenv">
  <h1 class="name-andesenv">Lucas <span class="glitch">Anderson</span> Lima</h1>
  <h3 class="profission-andesenv"><span id="spin"></span></h3>
  <hr class="intro-divider">
  <div
    class="social-andesenv"
    data-aos="flip-up"
    data-aos-duration="1500"
  >
    <a href="https://github.com/LuAnderson" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-github"></i> GITHUB</a>
    <a href="https://linkedin.com/in/lucas-anderson-b7a035a7/" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="https://twitter.com/_LucAnd" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-twitter"></i> Twitter</a>
  </div>
  <a class="arrow" href="#inicio">
    <span></span>
    <span></span>
  </a>
</div>