@import "../../../variables.scss";

.intro-andesenv {
    height: 95vh;
    width: 100%;

    background-image: url("../../../assets/showcase_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: $ninth-color;
    text-align: center;
    padding: 20% 0;

    .name-andesenv{
        font: 100 4em cursive;

        margin: 0 0 15px 0;

        span{
            color: $sixth-color;
        }
    }

    .intro-divider {
        width: 20vw;
        border: 1px solid $sixth-color;
    }

    .profission-andesenv{
        font: 100 2em Roboto Slab;
        text-shadow: 2px 2px 3px rgba(0,0,0,1);
    }

    .social-andesenv{
        a{
            text-decoration: none;
            color: $ninth-color;
            text-transform: uppercase;
            margin: 0 5px;

            font-family: monospace;

            background: $fifth-color;
            border: 1px solid $fifth-color;

            &:hover{
                background: $sixth-color;
                border: 1px solid;
            }
        }
    }
}


@media (max-width: 880px) {
    .intro-andesenv{
        padding-top: 40% 0 0 0;
    }
}

@media (min-width: 890px) and (max-width: 1240px) {
    .intro-andesenv{
        padding: 50% 0 0 0;
    }
}   