<div class="fixed">
    <label for="">
        <select #langselect (change)="translate.use(langselect.value)">
            <option 
                *ngFor="let lang of translate.getLangs(); let item = index" 
                [value]="lang"
            > 
                {{ country[item] }}
            </option>
        </select>
        <img #langselect (change)="translate.use(langselect.value)" [src]="('home.flag' | translate)" alt="" class="flag">

    </label>
</div>
<app-home [master]="('home' | translate)"></app-home>

<!-- <router-outlet></router-outlet> -->