<section class="publications-andesenv" id="publications">
  <div class="container">
    <div 
      class="row sobre"
      data-aos="flip-up"
      data-aos-duration="1500"
    >
      <h2>
        {{ content.title }}
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
    <div class="content" data-aos="zoom-in-down">
        <div *ngFor="let item of content.list">
            <a 
              class="card" 
              href="{{item.path}}" 
              target="_blank"
            >
            <div class="icon"><i class="{{item.icon}}"></i></div>
            <p class="title">{{item.title}}</p>
            <p class="text">{{item.description}}</p>
          </a>
        </div>
    </div>

    <h6>{{ content.button }}</h6>

  </div>
</section>