<section class="trainning-andesenv">
  <div class="container">
    <div class="row sobre">
      <h2>
        TRAINNING
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>

    <h5 class="category">Cursos | Artigos | Manuais</h5>

    <div class="content">
      <div class="card">
        <div class="icon"><i class="fab fa-github"></i></div>
        <p class="title">GITHUB <br> (CURSO BÁSICO)</p>
        <p class="text">Aplicando na prática e utilizando Git Pages</p>
      </div>
      <div class="card">
        <div class="icon"><i class="fab fa-css3-alt"></i></div>
        <p class="title">CSS <br> (CURSO BÁSICO)</p>
        <p class="text">Dando cor e vida ao seu site</p>
      </div>
      <div class="card">
        <div class="icon"><i class="fab fa-js-square"></i></div>
        <p class="title">JAVASCRIPT <br> (Boas Práticas)</p>
        <p class="text">Melhorando a escrita e funcionamento do seu código</p>
      </div>
    </div>

    <h6>Conteúdo Trainning Completo</h6>

  </div>
</section>