@import "../../../variables.scss";

.menu-andesenv{
    background: $primary-color;
    display: block;
    width: -webkit-fill-available;

    text-align: center;

    &.fixed{
        position: fixed; 
        top: 0; 
        z-index: 3;
    }
    
    a {
        display: inline-block;
        margin: 0 1rem;
        padding: 15px 16px;

        color: #ffffff;

        font: bold 1.3em monospace;
        text-transform: uppercase;
        text-decoration: none;

        &:active,
        &:hover{
            border-radius: 1em 2em;
        }
        &:hover{
            background: #545454;
        }

        &:active{
            background: #5383d3;
        }
    }
}