@import "../../../variables.scss";

.menu-andesenv{
    background: $primary-color;
    display: block;
    position: sticky;
    right: 0;
    text-align: center;
    top: 0;
    width: -webkit-fill-available;
    z-index: 3;

    &.active{
        display: grid !important;
        padding: 30px;

        a{
            display: inline-block !important;
        }
    }

    a.icon,
    .logo-andesenv{
        display: none;
    }

    a {
        color: $ninth-color;
        display: inline-block;
        font: bold 1.1em Roboto Slab;
        margin: 0 1rem;
        padding: 15px 16px;
        text-decoration: none;
        text-transform: uppercase;

        &.active,
        &:hover{
            border-radius: 1em 2em;
        }

        &:hover{
            background: $sixth-color;
        }

        &.active {
            background-color: $sixth-color;
            color: $ninth-color;
        }
    }

    @media screen and (max-width: 768px){
        display: inline-flex;

        a {
            display: block;
            padding: 12px 16px;
            text-align: left;

            &:not(:first-child) {
                display: none;
            }

            &.icon {
                display: block;
                float: right;
                position: absolute;
                right: 0;
                top: 0;
            }

            &.active{
                border-radius: 1em 2em;
            }
        }

        .logo-andesenv{
            color: $ninth-color;
            display: block;
            font: bold 3em monospace;
            margin: 0 1rem;
            padding: 0px;
        }
    }
}