<div class="menu-andesenv" id="navbar">
    <span href="#" class="logo-andesenv">
      AnDesenv
    </span>
    <a href="#inicio" (click)="showMobileMenu()">Inicio</a>
    <a href="#profissional" (click)="showMobileMenu()">Profissional</a>
    <a href="#publications" (click)="showMobileMenu()">Publicações</a>
    <a href="#portfolio" (click)="showMobileMenu()">Portfólio</a>
    <a href="#contato" (click)="showMobileMenu()">Contato</a>
    <a href="javascript:void(0);" class="icon" (click)="showMobileMenu()">
      <i class="fa fa-bars"></i>
    </a>  
</div>