@import "reset.scss";
@import "variables.scss";

@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');


html{
    scroll-behavior: smooth;
}