$primary-color: #000000;
$second-color: #151515;
$third-color: #202020;
$fourth-color: #292929;
$fifth-color: #33383b;
$sixth-color: #5383d3;
$thirty-color: #8f9296;
$octave-color: #bbbbbb;
$ninth-color: #ffffff;

$especial-color-border: #303a3b;
$especial-color-font: #4d5d5f;