@import "../../../variables.scss";

.about-andesenv{
    color: $octave-color;
    background: $second-color;
    padding: 100px 0;

    .sobre{
        margin-bottom: 80px;

        h2{
            font: 100 2.5em monospace;
            text-transform: uppercase;
            
            margin: auto;

            .horizontal-line {
                margin-top: 15px;

                div {
                    background: $sixth-color;
                    height: 2px;
                    margin: 0 auto;
                    width: 77px;
                    &.top {
                        margin-bottom: 3px;
                        width: 44px;
                    }
                }
            }
        }
    }

    .box-info{
        h3{
            font: 100 1.5em Roboto Slab;
            margin-bottom: 15px;   
        }
        
        p{
            font: 100 1em Roboto Slab;
            margin: 0 40px 50px 0;
        }
    
        .group-button{
            text-align: center;
            button{
                text-transform: uppercase;
                font: 700 1.1em monospace;
                padding: 10px;
    
                &.cv{
                    color: $sixth-color;
                    border-color: $sixth-color;
                    margin-right: 5%;
                }

                &.info{
                    cursor: no-drop;
                }
            }
        }
    }

    .box-skill{
        font-family: Roboto Slab;

        .bar{
            padding: 2px;
            margin: 0 0 10px 40px;
            font-weight: bold;

            &:after{
                content:  "";
                display: inline-block;
                padding: 5px 0 5px 0px;
                border-radius: 15px;  
                background-color: $sixth-color;  
            }

            &:nth-last-child(1){
                margin-bottom: 0px;
            }
        }

        .bar.intermediate::after{
            width: calc(60% - 10px);
        }
        .bar.advanced::after{
            width: calc(80% - 10px);
        }
        .bar.expert::after{
            width: calc(90% - 10px);
        }
    }
}

@media (max-width: 880px) {
    .about-andesenv{
        .group-button{
            margin-bottom: 60px;
        }

        .box-skill .bar{
            margin: 0 0 10px 0px;
        }
    }
}