<section class="about-andesenv" id="inicio">
  <div class="container">
    <div class="row sobre">
      <h2>
        SOBRE MIM
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
    <div class="row">
      <div class="box-info col-sm-6">
        <div class="code">
          <h3>
            <span style="color: #97C774">H</span>
            <span style="color: #B63E98">e</span>
            <span style="color: #D18E62">l</span>
            <span style="color: #DB3E41">l</span>
            <span style="color: #1BABA5">o</span>,
            I speak code
          </h3>
        </div>
        <p>
          Eu sou Lucas Anderson, tenho 22 anos de idade.
          Atualmente trabalho na empresa Bee Jobs, onde ajudo a
          criar novas features e
          contribuo na integração de serviços com a API do aplicativo e dashboard.
        </p>
        <div class="group-button">
          <a download="LucasLima-Curriculo" href="../../../assets/LLima-Currículo.pdf">
            <button class="btn btn-outline-secondary cv" type="button">
              <i class="fa fa-download"></i> Baixar Currículo
            </button>
          </a>
          <button class="btn btn-outline-secondary info" type="button">
            Mais Informações
          </button>
        </div>
      </div>
      <div class="box-skill col-sm-6">
        <div class="bar expert">
          <p>
            HTML 5
          </p>
        </div>
        <div class="bar expert">
          <p>
            CSS 3 (LESS - SASS)
          </p>
        </div>
        <div class="bar advanced">
          <p>
            JavaScript (ES6)
          </p>
        </div>
        <div class="bar advanced">
          <p>
            Git (GITHUB)
          </p>
        </div>
        <div class="bar intermediate">
          <p>
            Angular 2+
          </p>
        </div>
      </div>
    </div>
  </div>
</section>