<section class="professional-andesenv" id="profissional">
  <div class="container">
    <div class="row about">
      <h2>
        CARREIRA PROFISSIONAL
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-icon"><i class="fas fa-user-tie"></i></div>
            <span class="year">2017 - Atual</span>
            <div class="timeline-content">
              <h5 class="title">Desenvolvedor Front End</h5>
              <p class="description">
                <li>CodeOwner | DevOps</li>
                <li>Modelagem de interface web/mobile e Desenvolvimento de componentes responsivos</li>
              </p>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-icon"><i class="fas fa-code"></i></div>
            <span class="year">2017 - 2018</span>
            <div class="timeline-content">
              <h5 class="title">Freelancer</h5>
              <p class="description">
                <li>Desenvolvedor Front End</li>
                <li>SEO | Web Mobile</li>
                <li>Web Performance e PageSpeed Insights/Ninja</li>
              </p>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-icon"><i class="fas fa-address-book"></i></div>
            <span class="year">2015 - 2016</span>
            <div class="timeline-content">
              <h5 class="title">Membro do Diretório Acadêmico</h5>
              <p class="description">
                <li>Organização de atividades inclusivas para 'calouros'</li>
                <li>Levantamento de ideias para melhor convívio entre os estudantes universitários</li>
              </p>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-icon"><i class="fas fa-graduation-cap"></i></div>
            <span class="year">2014</span>
            <div class="timeline-content">
              <h5 class="title">Graduação em Engenharia da Computação</h5>
              <p class="description">
                <li>Universidade Estadual de Feira de Santana</li>
                <li>Preparo para atuar nas áreas de hardware e software</li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>