@import "../../../variables.scss";

.professional-andesenv{
    color: $octave-color;
    background: $third-color;
    padding: 100px 0;

    .about{
        margin-bottom: 80px;

        h2{
            font: 100 2.5em monospace;
            text-transform: uppercase;
            text-align: center;

            margin: auto;

            .horizontal-line {
                margin-top: 15px;

                div {
                    background: $sixth-color;
                    height: 2px;
                    margin: 0 auto;
                    width: 77px;

                    &.top {
                        margin-bottom: 3px;
                        width: 44px;
                    }
                }
            }
        }
    }

    .main-timeline {
        overflow: hidden;
        position: relative;

        .timeline {
            width: 50%;
            float: left;
            position: relative;

            &:before,
            &:after {
                content: "";
                display: block;
                clear: both;
            }

            &:before {
                position: absolute;
                width: 10px;
                height: 90%;
                top: 10%;   
                right: -20px;

                background: $octave-color;
            }
          
            &:last-child:before {
                height: 0;
            }
        }
        
        .timeline-icon {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;

            background: $octave-color;
            text-align: center;

            position: absolute;
            top: 0;
            right: -40px;
            z-index: 2;
          
            i {
                font-size: 35px;
                color: $third-color;
                line-height: 80px;

                z-index: 1;
                position: relative;
            }
        }

        .year {
            display: block;
            padding: 0 60px 0 30px;
            font: 700 2em monospace;

            color: $especial-color-font;
            text-align: right;
            border-bottom: 2px solid $especial-color-border;
            position: relative;
          
            &:after {
                content: "";
                border-left: 10px solid $especial-color-border;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                position: absolute;
                bottom: -11px;
                left: 0px;
            }
        }

        .timeline:last-child .timeline-content {
            &:after, &:before {
                width: 0;
                height: 0;
            }
        }

        .timeline-content {
            padding: 18px 60px 18px 40px;
            text-align: right;
            position: relative;
            z-index: 1;

            .title {
                font: 700 1.3em Roboto Slab;
                color: $sixth-color;
                margin-top: 0;
            }

            .description {
                font: 300 1em monospace;
                color: $thirty-color;
                line-height: 25px;

                li{
                    list-style-type: none;
                }
            }
        }
        
        .timeline {
            &:nth-child(2) {
                margin-top: 140px;
            }

            &:nth-child(even) {
                margin-bottom: 80px;
            }

            &:nth-child(odd) {
                margin: -140px 0 0;
            }

            &:first-child, &:last-child:nth-child(even) {
                margin: 0px;
            }

            &:nth-child(2n) {
                .timeline-icon, &:before {
                    right: auto;
                    left: -20px;
                    background: $octave-color;
                }

                .timeline-icon {
                    left: -40px;
                }

                .year {
                    padding: 0 30px 0 60px;
                    text-align: left;

                    &:before {
                        left: auto;
                        right: 3px;
                    }

                    &:after {
                        border-left: none;
                        border-right: 10px solid $especial-color-border;
                        right: 0px;
                    }
                }

                .timeline-content {
                    padding: 18px 40px 18px 60px;
                    text-align: left;

                    &:before {
                        left: -95px;
                    }
                    &:after {
                        left: 15px;
                    }
                }
            }
        }
    }
      
      @media only screen and (max-width: 990px) {
        .main-timeline {
            .timeline {
                width: 100%;

                &:nth-child(even), &:nth-child(odd) {
                    margin: 0;
                }

                &:before, &:nth-child(2n):before {
                    width: 10px;
                    height: 100%;
                    left: 25px;
                }

                .timeline-icon {
                    left: 0;
                }

                .year {
                    text-align: left;
                    padding: 0 30px 0 100px;

                    &:before {
                        left: auto;
                        right: 4px;
                    }

                    &:after {
                        left: auto;
                        right: 0px;
                        border-right: 10px solid $especial-color-border;
                        border-left: none;
                    }
                }

                &:nth-child(2n) {
                    .timeline-icon {
                        left: 0;
                    }
    
                    .year {
                        text-align: left;
                        padding: 0 30px 0 100px;
                    }
                }

                &:nth-child(2n) .year:before {
                    left: auto;
                    right: 4px;
                }

                &:nth-child(2n) .timeline-content {
                    text-align: left;
                    padding: 18px 40px 18px 100px;
                }

                .timeline-content {
                    text-align: left;
                    padding: 18px 40px 18px 100px;
    
                    &:after, &:before {
                        width: 0;
                        height: 0;
                    }
                }
            } 
        }
    }
}