<section class="professional-andesenv" id="profissional">
  <div 
    class="container"
    data-aos="flip-up"
    data-aos-duration="1500"
  >
    <div class="row about">
      <h2>
        {{ content.title }}
        <div class="horizontal-line">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline" *ngFor="let item of content.timeline" data-aos="fade-left">
            <div class="timeline-icon"><i class="{{ item.box.icon }}"></i></div>
            <span class="year">{{ item.box.year }}</span>
            <div class="timeline-content">
              <h3 class="title" data-aos="zoom-in">{{ item.company.title }}
                <span class="state" *ngIf="item.company.state">{{ item.company.state }}</span>
                <span class="empresa" *ngIf="item.company.name">{{ item.company.name }}</span> 
              </h3>
              <p class="description">
                <li *ngFor="let item of item.company.responsibilities">{{item}}</li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>